ENVIRONMENT=development
DEBUG=true
LOG_LEVEL=DEBUG
SECRET_KEY=your-super-secret-key

API_V1_PREFIX=/api/v1
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

JWT_SECRET_KEY=your-super-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30

CACHE_USERNAME=default
CACHE_HOST=valkey
CACHE_PORT=6379
CACHE_PASSWORD=your-super-secret-password
CACHE_DB=0

MAIN_DB_USER=root
MAIN_DB_PASSWORD=your-super-secret-password
MAIN_DB_NAME=main_db
MAIN_DB_HOST=main-db
MAIN_DB_PORT=5432

MAIL_SENDER=example@gmail.com
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

PHONE_TOKEN=
PHONE_NAME_SENDER=
PHONE_PROVIDER_URL=