ENVIRONMENT=development
DEBUG=true
LOG_LEVEL=DEBUG
SECRET_KEY=secret-key

API_V1_PREFIX=/api/v1
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

JWT_SECRET_KEY=change-me-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=123
REDIS_DB=0

MAIN_DB_USER=root
MAIN_DB_PASSWORD=123
MAIN_DB_NAME=main_db
MAIN_DB_HOST=main_db
MAIN_DB_PORT=5432